<section class="flex flex-col items-center h-screen text-sm bg-white-200 ">
    <nav class="bg-black z-50 flex items-center justify-between w-full py-4 px-6 md:px-16 lg:px-24 xl:px-32 backdrop-blur  text-white text-slate-800 text-lg">
        <h1>LOGO</h1>
        <div class="hidden md:flex items-center gap-8 transition duration-500">
            <a href="/" class="hover:text-slate-500 transition">
                Home
            </a>
            <a href="/service" class="hover:text-slate-500 transition">
                Services
            </a>
            <a href="/appointment" class="hover:text-slate-500 transition">
                Appointment
            </a>

        </div>
        
        <div class="hidden md:block">
            <a class=" text-white text-thin text-lg m-2">CUser: {{ authService.isLoggedIn }}</a>

            <a class="hover:bg-slate-100 transition px-6 py-2 border border-indigo-600 rounded-md cursor-pointer" (click)="logout()">logout</a>
        </div>


        <button id="open-menu" class="md:hidden active:scale-90 transition">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
        </button>
        
    </nav>
    <div id="mobile-navLinks" class="fixed inset-0 z-[100] bg-white/60 text-slate-800 backdrop-blur flex flex-col items-center justify-center text-lg gap-8 md:hidden transition-transform duration-300 -translate-x-full">
        <a href="/">
            Home
        </a>
        <a href="/products">
            Products
        </a>
        <a href="/stories">
            Stories
        </a>
        <a href="/pricing">
            Pricing
        </a>
        <button id="close-menu" class="active:ring-3 active:ring-white aspect-square size-10 p-1 items-center justify-center bg-slate-100 hover:bg-slate-200 transition text-black rounded-md flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
    </div>
    

  <main class="flex flex-col bg-[url('/assets/images/tattoo1.png')] w-full h-screen bg-cover bg-center items-center justify-center max-md:px-2 space-y-4">

    <h1 class="text-center text-white text-5xl leading-[68px] md:text-6xl md:leading-[80px] font-semibold max-w-4xl">
        Ink Your Story.
    </h1>

    <p class="text-center text-white text-base max-w-lg mt-2">
        Every line, every shade, every detail is crafted to reflect who you are.
        From bold statements to subtle symbolism, we turn your ideas into lasting art you’ll wear with pride.
    </p>

    <div class="flex items-center text-white gap-4 mt-8">
        <button routerLink="/appointment"
                class="border border-slate-600 active:scale-95 bg-gray-300 hover:bg-white/10 transition text-slate-600 rounded-lg px-8 h-11">
        Book your session today.
        </button>
    </div>

</main>


